**/node_modules
**/.next
**/out
**/build
**/.git
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/data
**/.env
**/.env.local
**/.env.*.local
**/.vscode
**/.idea
**/.DS_Store
**/*.md
**/changes.txt
**/commit_message.txt
